.main-container {
    display: flex;
    min-height: calc(100vh - 60px); 
}

.container-table {
    text-align: center;
    max-width: 80%;
    margin-left: 120px;
    margin-top: 30px;
    background-color: #fff;
}
table {
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
}
th {
    padding: 20px;
    background-color: #f1f1f1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}
td {
    
    background-color: #fff;
    transition: all 0.3s ease;
    max-width: 80px;
    overflow: hidden;   
    text-overflow: ellipsis;
    white-space: nowrap; 
    padding: 0;
    margin: 0;
}

tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
tr:hover td {
    background-color: #e2effc;
    transform: translateY(-2px);
    cursor: pointer;
}
img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
tbody tr {
    animation: fadeIn 0.2s ease forwards;
    opacity: 0;
}

@keyframes fadeOut {
    from { opacity: 0.2; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}

.remove-animation {
    animation: fadeOut 0.1s ease forwards;
}

tbody tr:nth-child(1) { animation-delay: 0.1s; }
tbody tr:nth-child(2) { animation-delay: 0.2s; }
tbody tr:nth-child(3) { animation-delay: 0.3s; }
tbody tr:nth-child(4) { animation-delay: 0.4s; }
tbody tr:nth-child(5) { animation-delay: 0.5s; }
tbody tr:nth-child(6) { animation-delay: 0.6s; }
tbody tr:nth-child(7) { animation-delay: 0.7s; }
tbody tr:nth-child(8) { animation-delay: 0.8s; }


