body {
    padding: 0;
    margin: 0;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bdb5b5;
}

.register-form{
    text-align: center;
    width: 600px;
    height: 500px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
}

.container-inside-form{
    margin-top: 100px;
}

